// Vendor
@import "vendor/custom_bootstrap";

// Components
@import "components/card";
@import "components/button";

// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
$main-color: #8973D8 !important;

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: "Lato", sans-serif;
// }

.btn-primary-easy{
  background: linear-gradient(to right, #C645A9, #58BBDB);
  color: white;
}

.easy-input{
  background-color: $main-color;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
}

.display-title-error, .display-message-error{
  color: red;
  display: block;
}

.hide-title-error, .hide-message-error{
  color: red;
  display: none;
}
